*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}

.listaNav
{
  display: flex;
    background-color: black;
    color: #fff;
    padding-right: 15px;
    
}

.listaNav li
{
    font-size: 32px;
    margin: 1rem;
}

.home{
    list-style: none;
    outline-style: none;
    color: #fff;
}

a{
    outline: none;
    text-decoration: none;
}

h1{
    color: #fff;
    width: 100%;
}

.title{
    color: #fff;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

section{
    width: 1740px;
    height: 900px;
}

h2{
    color: red;
    text-align: center;
    padding: 100px;
    font-size: 100px;
}

.ww
{
    background-image: url(trae.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec2{
    background-color: black;
}

.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card1, .card2, .card3{
    border: 1px solid white;
    width: 300px;
    height: 400px;
    margin: 1rem;
}

.card1{
    background-image: url(Trae-Young-6.jpg);
    background-size: cover;
    background-position: center;
}

.card2{
    background-image: url(ice.jfif);
    background-size: cover;
    background-position: center;
}

.card3{
    background-image: url(aaaaaaa.jfif);
    background-size: cover;
    background-position: center;
}

.baixo{
    color: white;
}

footer{
    background-color: red;
}